@model StudentListModel

<div class="row">
    <div class="col-md-3">
         @await Component.InvokeAsync("CourseList")
    </div>
     <div class="col-md-9">

        @foreach (var student in Model.Students)
        {
           
             <partial name="_student" for="@student" />
        }

    </div>

   
</div>
